<!DOCTYPE html>
<html lang="en" >
<head>
    {%load static%}
  <meta charset="UTF-8">
  <title>Transparent Navbar & Hero</title>
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding|Open+Sans|Roboto|Roboto+Slab&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel="stylesheet" href="{%static 'fonts/material-icon/css/material-design-iconic-font.css'%}">
<link rel="stylesheet" href="{%static 'css/style.css'%}">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
 
<title>L2J{%block title%}{%endblock%}</title>
</head>
<body>
<!-- partial:index.partial.html -->
<header>
  <div class="hero"> <!--여기는 navbar입니다.-->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="#"><img src="{%static 'images/logo.png'%}" target="blank" alt="logo" height="100"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active"> <!--실행중인 페이지에 active를 달아주세요-->
              <a class="nav-link" href="/product/">Home</a>
            </li>
            <li class="nav-item"> <!--실행중인 페이지에 active를 달아주세요-->
              <a class="nav-link" href="/product/create">Create</a>
            </li>
            <li class="nav-item"> <!--실행중인 페이지에 active를 달아주세요-->
              <a class="nav-link" href="/product/wish">Wish</a>
            </li>
            <li class="nav-item"> <!--실행중인 페이지에 active를 달아주세요-->
              <a class="nav-link" href="/product/shopping">Cart</a>
            </li>
            {%block navbar%}
            {%endblock%}
            {%if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'logout'%}">Logout</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'login'%}">Login</a>
            </li>
            {%endif%}
          </ul>

        </div>
      </nav>
    </div>

    <div class='box'> <!--여기에 컨텐츠를 씁시다-->
      {%block content%}
      {%endblock%}
    </div>

<!-- JS -->
<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>
    </div>
  </div>

</header>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script><script  src="{%static 'js/script.js'%}"></script>
<script  src="{%static 'js/account.js'%}"></script>
</body>
</html>
