{%extends 'base.html'%}

{%block content%}
<h2 style="margin-bottom:40px; font-weight:800; font-size:45px; text-align:center; color:rgba(229,57,53,0.8); font-family:'Nanum Gothic', sans-serif; letter-spacing: 3.5px;">Shopping Cart</h2>
<form action="/buyall" method="get">
    <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
{%for cart_item in carts%}
<tr>
        <td scope="row">{{ cart_item.id }}</td>
        <td><a href="/{{ cart_item.id }}" id="proname">{{ cart_item.name }}</a></td>
        <td>
            {% if cart_item.image %}
            <img src="{{cart_item.image.url}}" style="width:150px">
            {% else %}
            <img src="https://loremflickr.com/320/240/cat" style="width:150px">
            {% endif %}
        </td>
        <td>{{cart_item.price}} won</td>
        <input type="hidden" value="{{ cart_item.id }}" name="idList[]">
</tr>
{%endfor%}
</table>
<table class="table">
    <thead class="thead-dark">
            <tr>
                <th scope="col">Total &nbsp;&nbsp;&nbsp;&nbsp;{{carts|length}} 개</th>
                <th scope="col" style="text-align: end; padding-right:50px;">&nbsp;&nbsp; Total&nbsp;Price:&nbsp;&nbsp;&nbsp;{{sum}} won</th>
            </tr>
    </thead>
</table>
<br>
<div>
    <button style="float:right; font-size:25px; margin-bottom:40px;"type="submit" class="btn btn-success">Buy All</button><br><br>
</div>
</form>
</tbody>
{%endblock%}