{%extends 'base.html'%}
{%block content%}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
  </div>
  {% endfor %}
{% endif %}
<div class="container">
    <form method="post">
        {% csrf_token %}
     
        <tr>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
                <td>{{ form.phone_number }}</td>
        </tr>
        <tr>
                <td>{{ form.trading_place}}</td>
        </tr>
        <tr>
                <td>{{ form.status }}</td>
        </tr>
        <tr>
                <td>{{ form.price }}</td>
        </tr>
        <tr>
                <td>{{ form.image }}</td>
        </tr>
        <tr>
                <td>{{ form.end_time }}</td>
        </tr>
        </table>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
<script>
   $("#id_end_time").datetimepicker({format: 'Y/m/d H:i'});
</script>
{%endblock%}
