{%extends 'base.html'%}

{% block content %}
<div class="card" style="text-align:center;">
  <h2 style="margin-bottom:30px; color:rgba(229,57,53,0.8);">{{product.name}}</h2>
  <p>
      {% if prodcut.image %}
      <img src="{{prodcut.image.url}}" style="width:300px; margin-bottom:30px;">
      {% else %}
      <img src="https://loremflickr.com/320/240/cat" style="width:300px; margin-bottom:30px;">
      {% endif %}
  <p>상품 등록 시간 : {{product.created_at}} <br></p>
  <p>옥션 마감 시간 : {{product.end_time}}<br></p>
  <p>판매가: {{product.price}}</p>
  <p>상품 최종 구매자 : {{product.winner.username}}</p><Br>
  {% if product.status == 1 and product.is_auction_end  %}
  <p>옥션 종료</p>
  {% elif product.status == 1 %}
  <table style="display:grid; margin:auto;">
    <th>
    <form action="/product/bid">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{product.id}}">
    <button type="submit" id="bid" style="margin-bottom:45px;">Bid</button><Br>
    <input type="number" name="bid_price" style="width:150px;" placeholder="금액 입력">
    </form>
    </th>
  <th><a href="/product/addwish?id={{product.id}}" id="wish" >Wish</a></th>
  </table>
  {% elif product.status == 3%}
    <p>판매 완료</p>
  {% else %}
  <div id="detailbutton">
  <table>
  <th>
    <a href="/product/addwish?id={{product.id}}" id="wish" >Wish</a>
  </th>
  <th>
    <a href="/product/addcart?id={{product.id}}" id="cart" >Cart</a>
  </th>
  <th>
    <a href="/product/buy?id={{product.id}}" id="purchase" >Purchase</a>
  </th>

  </table>
  </div>
  {% endif %}
</div>
{% endblock %}

