{%extends 'base.html'%}

{% block content %}
<div class="card">
  <h2>{{product.name}}</h2>
  <p> <img src="{{product.image.url}}" style="width:300px;"></p>
  <p>상품 등록 시간 : {{product.created_at}} <br></p>
  <p>옥션 마감 시간 : {{product.end_time}}<br></p>
  <p>판매가: {{product.price}}</p>
  <p>상품 최종 구매자 : {{product.winner.username}}</p>
  {% if product.status == 1 and product.is_auction_end  %}
  <p>옥션 종료</p>
  {% elif product.status == 1 %}
  <form action="/product/bid">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{product.id}}">
    <input type="number" name="bid_price" id="">
    <button type="submit">Bid</button>
  </form>
  <a href="/product/addwish?id={{product.id}}"><button>Wish</button></a>
  {% elif product.status == 3%}
    <p>판매 완료</p>
  {% else %}
    <a href="/product/addwish?id={{product.id}}" class="form-submit" style="width:150px; text-align:center">Wish</a>
    <a href="/product/addcart?id={{product.id}}" class="form-submit" style="width:150px; text-align:center">Cart</a>
    <a href="/product/buy?id={{product.id}}" class="form-submit" style="width:250px; text-align:center">Purchase</a>
  {% endif %}
</div>
{% endblock %}
