{%extends 'base.html'%}
{%block content%}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
  </div>
  {% endfor %}
{% endif %}
<div class="container">
    <div id="create">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 style="margin-bottom:40px; font-weight:800; font-size:45px; color:rgba(229,57,53,0.8); font-family:'Nanum Gothic', sans-serif; letter-spacing: 3.5px;">Product Registration</h2>
        <tr>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
                <td>{{ form.phone_number }}</td>
        </tr>
        <tr>
                <td>{{ form.trading_place}}</td>
        </tr>
        <tr>
                <td><p>Select Type of Transaction {{ form.status }} </p></td>
        </tr>
        <tr>
                <td>{{ form.price }}</td>
        </tr>
        <tr>
                <td>{{ form.image }}</td>
        </tr>
        <tr>
                <td>{{ form.end_time }}</td>
        </tr>
        </table>
        <button type="submit" class="form-submit" style="border-style:none;"> Submit</button>
    </form>
</div>
</div>
<script>
   $("#id_end_time").datetimepicker({format: 'Y/m/d H:i'});
</script>
{%endblock%}


