{%extends 'base.html'%}

{%block content%}
<form action="/product/buyall" method="get">
<table>
{%for cart_item in carts%}
<tr>
    <th scope="row">{{ cart_item.id }}</th>
    <td><a href="/product/{{ cart_item.id }}">{{ cart_item.name }}</a></td>
    <input type="hidden" value="{{ cart_item.id }}" name="idList[]">
</tr>
{%endfor%}
</table>
<br>
<h4>전체 갯수: {{ carts |  length }}</h4>
<h4>전체 금액: {{ sum }}</h4>
<button type="submit" class="btn btn-success">모두 구매</button>
</form>
</tbody>
{%endblock%}