{%extends 'base.html'%}

{%block content%}

{% if request.user.is_buyer %}
<form action="/product/" method="post">
{% csrf_token %}
<div class="form-group">
    <input placeholder="상품명" type="text" name="name__icontains" class="form-control" id="inputPassword4">
</div>
<div class="form-group">
    <input placeholder="판매자 이름" type="text" name="seller__name__icontains" class="form-control" id="inputSeller">
</div>

<div class="form-group">
  <input placeholder="최소 가격" type="number" name="price__gte" class="form-control" id="inputGnum">
</div>
<div class="form-group">
  <input placeholder="최대 가격" type="number" name="price__lte" class="form-control" id="inputLnum">
</div>
<button class="btn btn-primary">검색</button>
</form>
{% endif %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Trading Place</th>
        <th scope="col">Status</th>
        <th scope="col">seller</th>
        <th scope="col">Created</th>
        <th scope="col">History</th>
        {% if request.user.is_seller %}
        <th scope="col">Manage</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
    <tr>
        <th scope="row">{{ product.id }}</th>
        <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
        <td>{{ product.price }}</td>
        <td>{{ product.phone_number }}</td>
        <td>{{ product.trading_place }}</td>
        <td>{{ product.get_status_display }}</td>
        <td>{{ product.seller.name }}</td>
        <td>{{ product.created_at }}</td>
        <td>
          {% for history in product.auction_history.all %}
            <p>{{history.price}} | {{history.bidder.name}}</p>
          {% endfor %}
        </td>
        {% if request.user.is_seller%}
        <td>
          <a  href="{% url 'product-update' product.id  %}">edit</a>
          <a  href="{% url 'product-delete'  product.id  %}">delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>


{%endblock%}