{%extends 'base.html'%}

{%block content%}
<h2 style="margin-bottom:30px; color:rgba(229,57,53,0.8); text-align:center;">Wishlist</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">History</th>
        </tr>
    </thead>
{%for wish in wishes%}
<tr>
    <td scope="row">{{ wish.id }}</td>
    <td><a href="/product/{{ wish.id }}" id="proname">{{ wish.name }}</a></td>
    <td><img src="{{wish.image.url}}" style="width:150px"></td>
    <td>{{wish.price}}</td>
    <td>{{wish.get_status_display}}</td>
    {% for history in wish.auction_history.all %}
        <td>{{history.price}} | {{history.bidder.name}}</td>
    {% endfor %}
</tr>
{%endfor%}
</table>
{%endblock%}