{%extends 'base.html'%}

{%block content%}

{% if request.user.is_buyer %}
<h2 style="margin-bottom:40px; font-weight:800; text-align:center; font-size:45px; color:rgba(229,57,53,0.8); font-family:'Nanum Gothic', sans-serif; letter-spacing: 3.5px;">Product List</h2>
<form action="/" method="post" style="margin-bottom:30px;">
{% csrf_token %}
<p style="text-align:center;margin-bottom:30px; "> Search what you want!<br></p>
  <div style="margin-left:350px">
  <div class="input-group mb-2" style="width:700px;">
    <input placeholder="상품명" type="text" name="name__icontains" class="form-control" id="inputPassword4">
    <input placeholder="판매자 이름" type="text" name="seller__name__icontains" class="form-control" id="inputSeller">
    </div>
  <div style=" display:flex">
  <div class="input-group mb-2" style="width:700px;">
  <input placeholder="최소 가격" type="number" name="price__gte" class="form-control" id="inputGnum">
  <input placeholder="최대 가격" type="number" name="price__lte" class="form-control" id="inputLnum">
  </div>
  <button class="btn btn-primary" style="margin-left:50px;"  >검색</button>
</div>
</div>
</form>
{% endif %}

<table class="table">
    <thead class="thead-dark" >
      <tr style="border-radius:10px;">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Trading<Br> Place</th>
        <th scope="col">Status</th>
        <th scope="col">Seller</th>
        <th scope="col">Created</th>
        <th scope="col">History</th>
        {% if request.user.is_seller %}
        <th scope="col">Manage</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
    <tr>
        <th scope="row">{{ product.id }}</th>
        <td><a href="/{{ product.id }}" id="proname">{{ product.name }}</a></td>
        <td>{{ product.price }} won</td>
        <td>{{ product.trading_place }}</td>
        <td style="width:180px;">{{ product.get_status_display }}</td>
        <td>{{ product.seller.name }}</td>
        <td>{{ product.created_at }}</td>
        <td>
          {% for history in product.auction_history.all %}
            <p style="font-size:20px;"><span class="highlight">{{history.bidder.name}}</span> bids <span class="highlight">{{history.price}}</span> won.</p>
          {% endfor %}
        </td>
        {% if request.user.is_seller%}
        <td>
          <a  href="{% url 'product-update' product.id  %}">edit</a>
          <a  href="{% url 'product-delete'  product.id  %}">delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>


{%endblock%}
