{%extends 'base.html'%}

{%block content%}
<h2 style="margin-bottom:40px; text-align:center; font-weight:800; font-size:45px; color:rgba(229,57,53,0.8); font-family:'Nanum Gothic', sans-serif; letter-spacing: 3.5px;">Wishlist</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">History</th>
        </tr>
    </thead>
{%for wish in wishes%}
<tr>
    <td scope="row">{{ wish.id }}</td>
    <td><a href="/{{ wish.id }}" id="proname">{{ wish.name }}</a></td>
    <td><img src="{{wish.image.url}}" style="width:150px"></td>
    <td>{{wish.price}}</td>
    <td>{{wish.get_status_display}}</td>
    <td>{% for history in wish.auction_history.all %}
        <p>{{history.price}} | {{history.bidder.name}}</p>
    {% endfor %}</td>
</tr>
{%endfor%}
</table>
{%endblock%}